

{% extends "base.html" %}
{% load static %}
{% block title %}My Students    {% endblock title %}
{% block headerBlock %}
<style>
    body {
        font-family: Arial, sans-serif;
    }
    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 10px;
    }
    .container-table {
        max-width: 1000px;
        margin: 0 auto;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    table, th, td {
        border: 1px solid #ddd;
    }
    th, td {
        padding: 12px;
        text-align: left;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #ddd;
    }
    td {
        color: #333;
    }
     #main {
        width: 80%;
        overflow-x: hidden;
    }
</style>
{% endblock headerBlock %}
{% block bodyContent %}

<div id="wrapper">
    {% include "teacher/sidebar.html" %}
    <div id="main">
        <div class="visible-md visible-xs visible-sm mobile-menu">
            <button type="button" class="btn btn-default btn-sm" data-toggle="offcanvas">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <section class="section">
        <div class="container-table">
            {% if student_list %}
            <h1>Student List </h1>
    
            <table>
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Full Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in student_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{ student.fname }} {{ student.lname }}</td>
                        <td><a style="margin: 5px;" href="{% url 'teacherStudentInfo' student.id %}" class="btn btn-primary col-md-5">View</a>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{student.id}}">
                                <button style="margin: 5px;"  type="submit" onclick="return confirm('Remove {{student.fname}} {{ student.lname }}?');"" class="col-md-5 btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h1 style="color: red; font-size: 30px; text-align: center;">No Students Verified</h1>
            {% endif %}
        </div>
    </section>
    </div>
</div>
{% endblock bodyContent %}


