{% extends "base.html" %}
{% load static %}
{% block title %}My Subjects{% endblock title %}
{% block headerBlock %}
<style>
    body {
        font-family: Arial, sans-serif;
    }
    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 10px;
    }
    .container-table {
        max-width: 1000px;
        margin: 0 auto;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    table, th, td {
        border: 1px solid #ddd;
    }
    th, td {
        padding: 12px;
        text-align: left;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #ddd;
    }
    td {
        color: #333;
    }
     #main {
        width: 80%;
        overflow-x: hidden;
    }
</style>
{% endblock headerBlock %}
{% block bodyContent %}

<div id="wrapper">
    {% include "teacher/sidebar.html" %}
    <div id="main">
        <div class="visible-md visible-xs visible-sm mobile-menu">
            <button type="button" class="btn btn-default btn-sm" data-toggle="offcanvas">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <section class="section" style="margin-left: 20px;">
    <div class="container-table">
        <h2 style="text-align: center; font-weight: bold;">COURSE SUBJECTS</h2>
        <form  action="{% url 'teacherMySubList' cid %}" method="post" role="form">
            {% csrf_token %}
               
            <div class="form-group col-md-4">
              <input type="text" name="title" id="title" tabindex="1" class="form-control" placeholder="Title" value="" required>
            </div>   
            <div class="form-group col-md-4" id="divForm">
              <input type="text" maxlength="10" name="code" id="code" tabindex="1" class="form-control" placeholder="Code" value="" required>
            </div>    
          <div class="form-group">
            <div class="row">
                <div class=" col-md-2">
                <button type="submit" class="form-control btn btn-default">Add Subject</button>
                </div>
            </div>
          </div>
          </form>
        {% if sub_list %}
        <table>
            <thead>
                <tr>
                    <th>Sl</th>
                    <th>Title</th>
                    <th>Code</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for sub in sub_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ sub.sub_title }}</td>
                    <td>{{ sub.code }}</td>
                    <td style="width: 20%"><a href="{% url 'teacherSubInfo' cid sub.id  %}" class="btn btn-primary">View</a>
                        <a class="btn btn-danger"  href="{% url 'teacherSubDel' cid sub.id %}" onclick="return confirm('Remove {{sub}}?');">Remove</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1 style="color: red; font-size: 30px; text-align: center;">No Subjects added by you to this class</h1>
        {% endif %}
    </div>
</section>
    </div>
</div>
{% endblock bodyContent %}


