{% extends "base.html" %}
{% load static %}
{% block title %}My Subjects{% endblock title %}
{% block headerBlock %}
<style>
    body {
        font-family: Arial, sans-serif;
    }
    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 10px;
    }
    .container-table {
        max-width: 1000px;
        margin: 0 auto;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    table, th, td {
        border: 1px solid #ddd;
    }
    th, td {
        padding: 12px;
        text-align: left;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #ddd;
    }
    td {
        color: #333;
    }
     #main {
        width: 80%;
        overflow-x: hidden;
    }
</style>
{% endblock headerBlock %}
{% block bodyContent %}

<div id="wrapper">
    {% include "teacher/sidebar.html" %}
    <div id="main">
        <div class="visible-md visible-xs visible-sm mobile-menu">
            <button type="button" class="btn btn-default btn-sm" data-toggle="offcanvas">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <section class="section" style="margin-left: 20px;">
    <div class="container-table">
        <h2 style="text-align: center; font-weight: bold;">CHOOSE A SUBJECT - CLASS COMBO</h2>
        {% if sub_list %}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Class</th>
                    <th>Semester</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for sub in sub_list %}
                <tr>
                    <td>{{ sub.sub_id.sub_title }}</td>
                    <td>S{{sub.class_id.sem_number}} - {{ sub.class_id.course_id.short_name }} - {{sub.class_id.division_name}}</td>
                    <td>S{{ sub.sem }}</td>
                    <td>
                        <a href="{% url 'teacherDaySelection' sub.class_id.id sub.sem sub.sub_id.id %}">Goto Calendar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1 style="color: red; font-size: 30px; text-align: center;">No Subjects Assigned to you by class teacher</h1>
        {% endif %}
    </div>
</section>
    </div>
</div>
{% endblock bodyContent %}


