{% extends "base.html" %}
{% load static %}
{% block title %}Class Info{% endblock title %}
{% block headerBlock %}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 10px;
    }

    .container-table {
        max-width: 1000px;
        margin: 0 auto;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table,
    th,
    td {
        border: 1px solid #ddd;
    }

    th,
    td {
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    td {
        color: #333;
    }
</style>
{% endblock headerBlock %}
{% block bodyContent %}
{% include "myAdmin/navbar.html" %}
<section class="section">
    <div class="container-table">
        <h1 id="title">Class Info</h1>
        <div id="info-table">
            <table>
                <tr>
                    <th>Class Name</th>
                    <td>S{{class.sem_number}} {{ class.course_id.short_name }}</td>
                </tr>
                {% if class.division_name %}
                <tr>
                    <th>Division</th>
                    <td>{{ class.division_name }}</td>
                </tr>
                {% endif %}

                <tr>
                    <th>Started Year</th>
                    <td>{{ class.start_year }}</td>
                </tr>
                <tr>
                    <th>Ending Year</th>
                    <td>{{ class.end_year }}</td>
                </tr>
                <tr>
                    <th>Current Semester</th>
                    <td>S{{ class.sem_number }}</td>
                </tr>
                <tr>
                    <th>Class In Charge</th>
                    <td>
                    {% if class.class_in_charge %}
                    <a href="{% url 'adminTeacherInfo' class.class_in_charge.id %}">{{ class.class_in_charge }}</a>
                    {% else %}
                    Not Assigned
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>View Students</th>
                    <td>
                    <a href="{% url 'adminClassStudentList' class.id %}">View Student List</a>
                    </td>
                </tr>
                <tr>
                    <th>Attendance</th>
                    <td>
                     <a href="{% url 'adminClassAttendance' class.id %}"> 
                        View Attendance
                     </a> 
                    </td>
                </tr>
                <tr>
                    <th>Created On</th>
                    <td>{{ class.created_on }}</td>
                </tr>
                <th>Action</th>
                <td><button id="showEdit" class="btn btn-primary">Edit</button></td>
                </tr>
            </table>
        </div>
        <div id="edit-table" style="display: none;">
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>Course</th>
                        <td>
                            <div class="form-group">
                                <select name="course" class="form-control" id="course" required>
                                    <option value="{{ class.course_id.id }}" selected hidden>{{class.course_id }}</option>
                                    {% for course in course_list %}
                                        <option  data-sem-count="{{course.sem_count}}" value="{{ course.id }}">{{ course }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <th>Start Year</th>
                        <td>
                            <div class="form-group">
                                <input type="number" min="2010" max="9999" maxlength="4" name="start" id="start" tabindex="1" class="form-control" placeholder="Start Year" value="{{ class.start_year }}" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Division name</th>
                        <td>
                            <div class="form-group">
                                <input type="text" name="division" id="division" tabindex="1" class="form-control" placeholder="Division name" value="{{ class.division_name }}" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Current Semester</th>
                        <td>
                            <div class="form-group">
                                <input type="number" name="sem" id="sem" tabindex="1" class="form-control" min="1" max="{{ class.course_id.sem_count }}" placeholder="Current semester" value="{{ class.sem_number }}" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Class In Charge</th>
                        <td>
                            <div class="form-group">
                                <select name="incharge" class="form-control" id="incharge">
                                    <option value="{{ class.class_in_charge.id }}" selected hidden>
                                        {% if class.class_in_charge %}      
                                        {{class.class_in_charge }}
                                        {% else %}
                                        None Selected
                                        {% endif %}
                                    </option>
                                    {% for teacher in teacher_list %}
                                    <option value="{{ teacher.id }}">{{ teacher }} {{teacher.dept_id}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr style="text-align: center;">
                        <th>Action</th>
                        <td>
                            <button type="button" id="hideEdit" class="btn btn-danger">Cancel</button>
                            <button class="btn btn-success" type="submit">Update</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</section>
<script>
    document.getElementById("showEdit").addEventListener("click", function () {
        document.getElementById("info-table").style.display = "none";
        document.getElementById('title').innerHTML = "Edit Class Info";
        document.getElementById("edit-table").style.display = "block";
    });

    document.getElementById("hideEdit").addEventListener("click", function () {
        document.getElementById("info-table").style.display = "block";
        document.getElementById("edit-table").style.display = "none";
        document.getElementById('title').innerHTML = "Class Info";
    });
    
    document.getElementById("course").addEventListener("change", function () { 
        let selectedOption = this.options[this.selectedIndex];
        let semCount = selectedOption.getAttribute('data-sem-count');
        document.getElementById("sem").setAttribute('max', semCount);

        let start_year = document.getElementById("start").value
        let maxYear = parseInt(start_year)+parseInt(semCount/2);
        console.log(maxYear)
        document.getElementById("end").setAttribute('max',maxYear);
    });
</script>
{% include "footer.html" %}

{% endblock bodyContent %}